<div cdkDropListGroup class="drag-and-drop-container">
  <div class="example-container">
    <h2>Exercises</h2>

    <div style="height: 400px; overflow: auto">
      <div
        cdkDropList
        [cdkDropListData]="exercisesList"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="drag-and-drop-box"
          *ngFor="let item of exercisesList"
          cdkDrag
          [cdkDragDisabled]="
            item.disabled || item.numberOfRepetition.length == 0
          "
        >
          <span style="width: 45%">
            {{ item.exercisesName }}
          </span>
          <span style="width: 25%"> {{ item.workoutTypeName }}</span>

          <form class="input-form" style="width: 150px">
            <mat-form-field class="mat-form-field">
              <mat-label>Number of repetitions</mat-label>
              <input
                matInput
                [(value)]="item.numberOfRepetition"
                (input)="
                  item.numberOfRepetition = $event.target.value;
                  item.disabled = false
                "
              />
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Created exercises</h2>
    <div
      cdkDropList
      [cdkDropListData]="createdList"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="drag-and-drop-box" *ngFor="let item of createdList" cdkDrag>
        {{ item.exercisesName }} {{ item.numberOfRepetition }}
        {{ item.workoutTypeName }}
      </div>
    </div>
  </div>
</div>
