.modal-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  margin-bottom: 10px;
}

.modal-title {
  justify-content: center;
  text-align: center;
  width: 100%;
}

.modal-container {
  width: 600;
  height: 700px;
  justify-content: center;
  align-items: center;
}

.input-full-width {
  width: 100%;
}

.select {
  margin-left: 20;
}

.mat-form-field {
  width: 150px;
}
