<div class="modal-container">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create workout</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div
      style="
        width: 50%;
        float: left;
        flex-direction: column;
        display: flex;
        align-items: center;
        background-color: aqua;
      "
    >
      <mat-form-field appearance="fill" class="select" style="width: 60%">
        <mat-label>Workout types</mat-label>
        <mat-select (selectionChange)="onTypeChange($event.value)">
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{ type.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="select" style="width: 60%">
        <mat-label>Excercises</mat-label>
        <mat-select (selectionChange)="onTypeChange($event.value)">
          <mat-option
            *ngFor="let excercise of currentExercises"
            [value]="excercise.value"
          >
            {{ excercise.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <form class="input-form" style="width: 60%">
        <mat-form-field class="input-full-width">
          <mat-label>Number of repetitions</mat-label>
          <input matInput (input)="numberOfRepetition = $event.target.value" />
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" class="search-button">
        Save
      </button>
    </div>
    <div style="width: 50%; float: left"></div>
    <app-drag-and-drop-list></app-drag-and-drop-list>
    <!-- <button (click)="passBack()" type="submit" class="btn btn-primary w-100">
      Pass back
    </button> -->
  </div>
</div>
