<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile 
    [colspan]= 1
    [rowspan]= 2>
        <app-workout-card></app-workout-card>
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan]= 1
    [rowspan]= 2>
        <app-workout-card></app-workout-card>
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan]= 1
    [rowspan]= 2>
        <app-workout-card></app-workout-card>
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan]= 1
    [rowspan]= 2>
        <app-workout-card></app-workout-card>
    </mat-grid-tile>
</mat-grid-list>