.search-bar {
  height: 60px;
  width: 80%;
  background-color: #e0e0e0;
  border:white 3px solid;
  border-radius: 2px;
  justify-content: space-between;
  display: flex;
}

.select {
  margin-left: 20;
}

.checkbox-section {
  margin-top: 25px;
}

.checkbox-margin {
  margin: 0 15px;
}

.input-form {
  min-width: 100px;
  max-width: 200px;
  width: 100%;
  margin-top: 10px;
}

.input-full-width {
  width: 100%;
}

.search-button {
  margin: 10px;
}
